.type.type--amenities
    h3.room__name.room__name--amenities Amenities
    .type__box
        label.type__name.type__name--amenities(for="Balcony") Balcony
            input.type__check.type__check--amenities(type="checkbox" id="Balcony")
            span.type__checkmark.type__checkmark--amenities
        label.type__name.type__name--amenities(for="Air conditioning") Air conditioning
            input.type__check.type__check--amenities(type="checkbox" id="Air conditioning")
            span.type__checkmark.type__checkmark--amenities
        label.type__name.type__name--amenities(for="Pool") Pool
            input.type__check.type__check--amenities(type="checkbox" id="Pool") 
            span.type__checkmark.type__checkmark--amenities
        label.type__name.type__name--amenities(for="Beach") Beach
            input.type__check.type__check--amenities(type="checkbox" id="Beach") 
            span.type__checkmark.type__checkmark--amenities
        label.type__name.type__name--amenities(for="Pet friendly") Pet friendly
            input.type__check.type__check--amenities(type="checkbox" id="Pet friendly")
            span.type__checkmark.type__checkmark--amenities
        label.type__name.type__name--amenities(for="Kid friendly") Kid friendly
            input.type__check.type__check--amenities(type="checkbox" id="Kid friendly")
            span.type__checkmark.type__checkmark--amenities
        label.type__name.type__name--amenities(for="Parking") Parking
            input.type__check.type__check--amenities(type="checkbox" id="Parking")
            span.type__checkmark.type__checkmark--amenities