.type
    h3.room__name.room__name--type Property type
    .type__box
        label.type__name(for="house") House
            input.type__check(type="radio" id="house" name="checkbox")
            span.type__checkmark
        label.type__name(for="apartment") Apartment
            input.type__check(type="radio" id="apartment" name="checkbox")
            span.type__checkmark
        label.type__name(for="loft") Loft
            input.type__check(type="radio" id="loft" name="checkbox") 
            span.type__checkmark
        label.type__name(for="townhouse") Townhouse
            input.type__check(type="radio" id="townhouse" name="checkbox") 
            span.type__checkmark