<!DOCTYPE html>
html(lang="es")
    include includes/head.pug
    body
        .maina
            include includes/menu.pug
            include includes/box.pug
        include includes/main.pug
        script(src="./js/main.js")